*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right,  #10ffff, #0671ffcc) !important;
}
#banner{
    background: linear-gradient(to right,  #10ffff, #0671ffcc);
    background-size: cover;
    background-position: center;
    height: 25vh;
}


.banner-text{
    text-align: center;
    color: white;
    padding-top: 52px;
}

.banner-text h1{
    font-size: 70px;
    font-family: 'Niconne', cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic ;
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: black;
}

.navbar{
    padding: 10px !important;
}
.slider-box{
    width: 50%;
    height: 50vh;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 10px double rgb(26, 2, 2);
}

#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    width: 100%;
}
.indicators{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.indicators span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}
.active{
    background: white !important;
}
#login-btn{
    text-decoration: none;
    color: inherit;
}
.card{
    width: 100% !important;
    height: 65vh !important;   
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px ;
}